html
  head
    title
      | Artist Rosters
    link(rel='stylesheet' href='https://webfonts.artsy.net/all-webfonts.css')
    link(rel='stylesheet' href='/reset.css')
  body
    #root
      // mount here
    script(src='/assets/artistRoster.js')
